.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.buttons {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}

button {
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  background: lightblue;
  transition: 0.25s all ease;
}

button:hover {
  background: rgb(131, 176, 191);
  cursor: pointer;
}

button:active {
  background: rgb(52, 152, 185);
}
